/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&display=swap');



body {
  background-color:#F1FAEE;
  font-family: "Lato", sans-serif;
  padding: 5px 25px;
  font-size: 20px;
  margin: 0;
}

img {
  width: 100%;
  grid-column: 1 / 6;
  grid-row: 2;
}

iframe {
  width: 100%;
  grid-column: 1 / 6;
  grid-row: 2;
}


h1,
h2 {
  color: black;
  font-family: "Lobster";
  line-height: 1.5;
  font-size: 32px;
}

#content {
  max-width: 940px;
  width: 90%;
  margin: auto;
}

header {
  display: grid;
  grid-template-columns: 110px auto;
  align-items: center;
}

.logo-box {
  background-color: white;
  border-radius: 50px 50px 0 0 ;
  padding: 0.5em;
  border: 1px solid #a43312;
}

nav ul {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  list-style: none;
  font-family: "Lato";
}
 
nav a:link,
nav a:visited {
  color: black;
  font-family: "Lato";  
}

main {
  background-color: #95B0B8;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
}

.home-headline-1 {
  grid-column: 1 / 6;
  grid-row: 1;
  text-align: center;
  font-size: 250%;
}

h2.home-headline-2 {
  grid-column: 2 / 3;
  grid-row: 3;
  padding: 15px;
  background-color: #EC9A9A;
  text-align: center;
}

h2.home-headline-3 {
  grid-column: 4 / 5;
  grid-row: 3;
  padding: 15px;
  background-color: #EC9A9A;
  text-align: center;
}

img.image-2 {
  grid-column: 2 / 3;
  grid-row: 4;
  width: 350px;
}

img.image-3{
  grid-column: 4 / 5;
  grid-row: 4;
  width: 350px;
}

.home-paragraph-2 {
  grid-column: 2 / 3;
  grid-row: 5;
  line-height: 2;
}

.food-list {
  list-style: disc;
  grid-column: 4 / 6;
  grid-row: 5;
  line-height: 2;
  font-family: "Lato"; 
}

.home-paragraph-4 {
  text-align: center;
  grid-row: 6;
  grid-column: 1 / 6;
  background-color: #EC9A9A;
  padding: 0.5px;
}

